#hello {
    font-family: "Source Sans Pro";
    background: #fca985;
    color: #fff;
    text-align: center;
    font-size: 25vw;
    width: 80vw;
    max-width: 690px;
    max-height: 239px;
    margin: auto;
    margin-top: 0.3em;
    display: flex;
    align-items: center;
    justify-content: center;

    transform: skew(30deg);
}

@media screen and (min-width: 750px) {
    #hello {
        font-size: 188px;
    }
    #subtitle {
        max-width: 440px;
    }
}

#hello-text {
    transform: skew(-30deg);
}

#subtitle {
    font-family: "Source Sans Pro";
    background: #fca985;
    width: 60%;
    color: #fff;
    padding: 1px;
    padding-right: 25px;
    padding-left: 25px;
    margin: auto;
    margin-top: 2em;
    justify-content: center;
    text-align: center;
    font-size: 1em;
    transform: skew(30deg);
}
#h-rule {
    background: #fca985;
    width: 60%;
    color: #fff;
    padding: 1.5px;
    padding-right: 25px;
    padding-left: 25px;
    margin: auto;
    margin-top: 2em;
}

@media screen and (max-width: 500px) {
    #subtitle {
        padding: 0px;
        padding-right: 25px;
        padding-left: 25px;
    }
}
#subtitle-text {
    transform: skew(-30deg);
}

#socials {
    margin-top: auto;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#fb-icon {
    padding-right: 30px;
}
#em-icon {
    padding-right: 30px;
}

#fb-icon-svg {
    fill: #fca985;
    display: inline-block;
}

#em-icon-svg {
    fill: #fca985;
    display: inline-block;
}

#gh-icon {
}

#gh-icon-svg {
    fill: #fca985;
    display: inline-block;
}

#em-icon-svg:hover {
    fill: #f14d4d;
}
#fb-icon-svg:hover {
    fill: #486ab0;
}

#gh-icon-svg:hover {
    fill: #24292d;
}

.nav-active {
    border-bottom: 5px solid #fca985;
}
.nav {
    font-family: "Source Sans Pro";
    border-width: 1px 0;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.nav li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 10px 0;
}
.nav li:hover {
    border-bottom: 5px solid #fca985;
}

.nav li:hover a {
    /* background: #fca985; */
    /* color: #fff; */
}
.nav a {
    display: inline-block;
    color: #000;
    text-decoration: none;
    padding: 12px;
}

/* Style inputs with type="text", select elements and textareas */
input[type="text"],
select,
textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input.button {
    background-color: rgba(252, 169, 133, 1);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.2);
}

input.button:hover:not([disabled]) {
    /* background-color: rgba(0, 0, 0, 0.4); */
    background-color: #e48d6d;
    transform: translateY(-0.25em);
}
.button {
    background-color: rgba(252, 169, 133, 1);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 16px;
    text-decoration: none;
}

.button:hover:not([disabled]) {
    /* background-color: rgba(0, 0, 0, 0.4); */
    background-color: #e48d6d;
    transform: translateY(-0.25em);
    text-align: center;
}

.button[disabled] {
    background-color: #ddd;
    cursor: auto;
}

.icon {
    display: inline-flex;
    align-self: center;
}
.icon.baseline {
    top: 0.125em;
    position: relative;
}
.icon svg,
.icon img {
    height: 1em;
    width: 1em;
}

.button.bechard-dev-nowhere:hover:hover span {
    display: none;
}
.button.bechard-dev-nowhere:hover:hover:before {
    content: "Already Here!";
}

/* Add a background color and some padding around the form */
.container {
    font-family: "Source Sans Pro";
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px;
    min-width: 15rem;
    max-width: 30rem;
    border-radius: 5px;
    background-color: rgba(252, 169, 133, 0.5);
    padding: 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}
.portfolio-container {
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px;
    min-width: 15rem;
    max-width: 50rem;
    border-radius: 5px;
    background-color: rgba(252, 169, 133, 0.5);
    padding: 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}
.project-container {
    font-family: "Source Sans Pro";
    margin-left: 2vw;
    margin-right: 2vw;
}

.contact-response {
    margin-bottom: 30px;
    font-family: "Source Sans Pro";
    margin: 0 auto;
    margin-top: 10vw;
    max-width: 50vw;
    border-radius: 5px;
    background-color: #fca985;
    color: #fff;
    padding: 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.d-none {
    display: none;
}

#error-input {
    color: red;
    background-color: #ffe1d6;
    border: 1px solid red;
    resize: none;
}

.errors {
    color: red;
    margin-bottom: 2rem;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#errors {
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}
.row > .column {
    padding: 0 8px;
}
.row > .column > a > img {
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 100%;
}

.column.three {
    float: left;
    width: 50%;
}

div.gallery {
    /* border: 1px solid #ccc; */
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 10px;
    text-align: center;
    font-size: 14px;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 33.33333%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
