#hello {
    font-family: "Source Sans Pro";
    background: #fca985;
    color: #fff;
    text-align: center;
    font-size: 25vw;
    width: 80vw;
    max-width: 690px;
    max-height: 239px;
    margin: auto;
    margin-top: 0.3em;
    display: flex;
    align-items: center;
    justify-content: center;

    transform: skew(30deg);
}

@media screen and (min-width: 750px) {
    #hello {
        font-size: 188px;
    }
    #subtitle {
        max-width: 440px;
    }
}

#hello-text {
    transform: skew(-30deg);
}

#subtitle {
    font-family: "Source Sans Pro";
    background: #fca985;
    width: 60%;
    color: #fff;
    padding: 1px;
    padding-right: 25px;
    padding-left: 25px;
    margin: auto;
    margin-top: 2em;
    justify-content: center;
    text-align: center;
    font-size: 1em;

    transform: skew(30deg);
}

@media screen and (max-width: 500px) {
    #subtitle {
        padding: 0px;
        padding-right: 25px;
        padding-left: 25px;
    }
}
#subtitle-text {
    transform: skew(-30deg);
}

#socials {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#fb-icon {
    padding-right: 30px;
}

#fb-icon-svg {
    fill: #fca985;
    display: inline-block;
}

#gh-icon {
}

#gh-icon-svg {
    fill: #fca985;
    display: inline-block;
}

#fb-icon-svg:hover {
    fill: #486ab0;
}

#gh-icon-svg:hover {
    fill: #24292d;
}
